SetOutputFilter DEFLATE
AddOutputFilterByType DEFLATE text/html text/css text/plain text/xml application/x-javascript

#compatibilité avec les anciens navigateurs
BrowserMatch ^Mozilla/4 gzip-only-text/html
BrowserMatch ^Mozilla/4\.0[678] no-gzip
BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
BrowserMatch \bMSI[E] !no-gzip !gzip-only-text/html


 # BEGIN Cache-Control Headers
<IfModule mod_headers.c>
<FilesMatch "\.(ico|jpe?g|png|gif|swf|css|gz)$">
Header set Cache-Control "max-age=2592000, public"
</FilesMatch>
<FilesMatch "\.(js)$">
Header set Cache-Control "max-age=2592000, private"
</FilesMatch>
<filesMatch "\.(html|htm)$">
Header set Cache-Control "max-age=7200, public"
</filesMatch>
# Enleve le cache pour les ressources dynamiques
<FilesMatch "\.(pl|php|cgi|spl|scgi|fcgi)$">
Header unset Cache-Control
</FilesMatch>
</IfModule>
# END Cache-Control Headers

 # BEGIN EXPIRES 
 < SiModule  mod_expires.c >
  ExpiresActive On
  ExpiresByType text/html "access plus 1 years"
  ExpiresByType image/webp "access plus 1 years"
  ExpiresByType text/javascript "access plus 1 years"
  ExpiresByType application/javascript "access plus 1 years"
  ExpiresByType application/x-javascript "access plus 1 years"
  ExpiresByType text/css  "access plus 1 years"
  ExpiresDefault "access 7 days"
  </ifModule>
  # END EXPIRES
